
* {
	box-sizing: border-box;
}

.content{
	font-family: 'Architects Daughter';
	font-size: 22px;
}
footer{
	font-family: 'Architects Daughter';
}
h1{
	font-size: 100px;
}
h2{
	font-size: 80px;
}

.centered {
	text-align: center;
}
.header__Logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
}
.content__title{
	padding-top: 10px;
	text-align: center;
}
.doubleView{
	display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}
.doubleView__Split {
	width: 50%;
	padding: 30px;
}
.tripleView{
	display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}
.tripleView__Split {
	width: 33.33%;
	padding: 50px;
	margin: auto;
}
.content__banner{
	text-align: center;
	width: 100%;
}
.content__banner img {
	width: 100%;
}
.header__navigationBar{
	width: 100%;
	text-align: right;
}
.header__navigationBar__buttons{
	height: ;
	width: ;
    padding-left: 10px;
	border: none;
	color: rgb(200, 243, 255);
	background-color: transparent;
	letter-spacing: 4px;

	text-shadow: 2px 2px 4px #000000;
	font-size: 36px;
	font-weight: 900;

	/*background-color: #4da6ff;*/
	/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
    text-decoration: none;
    display: inline-block;
    
    
}
.header__navigationBar__buttons:hover {
	color: white;
	text-shadow: 2px 2px 4px black;
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
}



