
h2{
	font-size: 60px;
}
.doubleView{
	display: -webkit-flex; /* Safari */
    display: flex;
 	flex-direction: column;
 	padding-bottom: 20px;
}
.doubleView__Split {
	width: 100%;
}
.tripleView{
	display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column-reverse;
}
.tripleView__Split {
	width: 100%;
}



